node_modules/
*.d.ts
*.js
coverage/
out/
.next/
build/
test-results/
playwright-report/
cdk.out/
infra/build/
infra/main/*.js
infra/main/*.d.ts
infra/tests/**/*.js
infra/tests/**/*.d.ts
frontend/build/
frontend/out/
frontend/.next/
frontend/coverage/
frontend/test-results/
frontend/playwright-report/
frontend/playwright/.cache/
frontend/playwright/.auth/
public/
